<!DOCTYPE html>
<html>
<head>
  <title>Tate</title>
  <%= stylesheet_link_tag    "tate/application", media: "all" %>
  <%= javascript_include_tag "tate/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
